*{
     margin: 0;
    background-color: #f0f2f5;
    font-family: 'Courier New', Courier, monospace;
}


.post{
    width: 90% ;
    max-width: 400px;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0.15);
    margin: 20px;
}

.username{
    margin: 0;
    color: #1877f2;
}

.content{
    margin: 0;
    font-size: 18px;
}

.actions{
    display: flex;
    gap: 15px;
    align-items: center;
}

.actions a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    background-color: gray;
}

.actions button{
        background:#ff4d4d;
    color:white;
    border:none;
    padding:8px 14px;
    border-radius:6px;
    cursor:pointer;
}

.actions button:hover{
    background:#d93636;
}

#anchorTag{
    height: 300px;
    width: 900px;
    border: 3px solid black;
    text-decoration: none;
    color: white;
    background-color: green;
    margin-left: 30px;
    border-radius: 5px;
}

.photo{
    height: 100px;
    width: 100px;
    display: flex;
    
}

.like-btn {
    background: white;
    border: 1px solid #ddd;
    padding: 8px 15px;
    border-radius: 20px;
    cursor: pointer;
}

.like-btn:hover {
    background: #ffe6e6;
}